@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Roboto" !important;
  background-color: #d4d5d7;
  background-size: cover;
  font-family: "Roboto" !important;
}
.form-control {
  height: 40px !important;
  border-radius: 0px !important;
  box-shadow: none !important;
}

.loginmain {
  max-width: 400px;
  margin: 30px auto;
  box-shadow: 0 0px 2px 0px #999;
}
.below_details {
  max-width: 400px;
  margin: 0px auto;
  box-shadow: 0 0px 2px 0px #999;
  background: #fff;
  padding: 25px;
}
.clear {
  clear: both !important;
}

.text-right {
  margin-top: 30px;
}

.m-t-20 {
  margin-top: 20px;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border-bottom: 2px solid #435359;
}

ul.tabs li {
  background: #efefef;
  color: #222;
  display: inline-block;
  padding: 15px 0px;
  cursor: pointer;
  float: left;
  text-align: center;
  transition: 0.5s;
  font-size: 15px;
}
ul.tabs li:hover {
  background: #435359;
  color: #fff;
}
ul.tabs li.current {
  background: #435359;
  color: #fff;
}

.tab-content {
  /* display: none; */
  background: #fff;
  padding: 30px 30px 10px 30px;
}

.tab-content.current {
  display: inherit;
  transition: 0.5s;
}

.main_header {
  width: 100%;
  background: #435359;
}
.main_header a {
  color: #fff;
  font-size: 16px;
}
.main_header a:hover {
  color: #efefef;
  text-decoration: none;
}
.main_header a:focus {
  color: #efefef;
  text-decoration: none;
}
.lft {
  float: left;
  padding: 20px 30px 20px 20px;
  border-right: 1px solid #616161;
}
.rgt {
  float: right;
  padding: 20px 20px 20px 30px;
  border-left: 1px solid #616161;
}
.rgt ul {
  padding: 0px;
  margin: 0px;
}
.rgt ul li {
  list-style: none;
  display: inline;
  color: #fff;
  padding-left: 20px;
}
.rgt ul li a {
  color: #fff;
  text-decoration: none;
}
.rgt ul li a i {
  padding-right: 5px;
}
.rgt ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.login {
  border: 0px;
  background: #435359;
  padding: 6px 20px;
  color: #fff;
  transition: 0.5s;
}
.login:hover {
  background: #313e44;
  transition: 0.5s;
}
@media only screen and (max-width: 481px) {
  .tabs li {
    padding: 15px 0px !important;
  }
  .loginmain {
    margin-left: 10px;
    margin-right: 10px;
  }
  .main_header {
    padding: 14px 0px;
  }
  .main_header a {
    color: #fff;
    font-size: 14px;
  }
}
